
@{
    ViewData["Title"] = "CardPayments";
}



        <button type="button" class="btn btn-success btn-lg float-right " >New Payment</button>
</br>
</br>
</br>
    <div class="container">
        <div class="input-group float-right" style="width:200px">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-success float-right" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
            <h2>Transactions</h2>
            <table class="table table-striped table-hover align-content-center ">
                <thead class="bg-success text-white">
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">FinalBalance</th>
                        <th scope="col">Name</th>
                        <th scope="col">External Account</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>+123</td>
                        <td>12/11/2005</td>
                        <td>900</td>
                        <td>Riot SRL</td>
                        <td>DEN99ZBR6001992431</td>
                    </tr>
                    <tr>

                        <td>+500</td>
                        <td>23/12/20219</td>
                        <td>400</td>
                        <td>Mips Tech.</td>
                        <td>USA20001456134132</td>
                    </tr>
                    <tr>

                        <td>-99.99</td>
                        <td>05/01/2019</td>
                        <td>234</td>
                        <td>Gambling S.A.</td>
                        <td>RO001423001499123</td>
                    </tr>
                    <tr>

                        <td>+777</td>
                        <td>2/1/2009</td>
                        <td>1677</td>
                        <td>CHART S.C.</td>
                        <td>RU99ZBR6001992431</td>
                    </tr>
                    <tr>

                        <td>+5</td>
                        <td>5/12/2014</td>
                        <td>895.1</td>
                        <td>Torino IT</td>
                        <td>UK99ZBR6001ZO2431</td>
                    </tr>
                    <tr>

                        <td>-23</td>
                        <td>12/11/2015</td>
                        <td>940</td>
                        <td>Aprod RO</td>
                        <td>MD99ZBR6001992431</td>
                    </tr>
                </tbody>
            </table>
    </div>
