@model InternshipProject.ViewModels.Received.ReceivedListViewModel
@{
    ViewData["Title"] = "_TablePartial";
}

<h1>_TablePartial</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.BankAccounts)
            </th>
        </tr>



    </thead>






</table>
